*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(33, 28, 28);
}

.container{
    width: 400px;
    height: 200px;
    background-color: aqua;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
    border-radius: 20px;
}

.newtask{
    display: block;
    justify-content: space-between;
}

.inp{
    width: 250px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    text-align: center;
}

#add{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
}